<div class="showcase">
<div class="container">
  <div class="left-container">
    <div class="navbar-left">
      <div class="s-nav">
        <img src="https://i.pinimg.com/236x/fb/6d/94/fb6d94727029fc6708dc998f106ee7cc.jpg" alt="">
        <button class="btn-login">Login</button>
      </div>
    </div>
    <div class="search">
      <input type="text" class="search-input"  placeholder="Search">
      <fa-icon [icon]="faSearch" class="icon-search"></fa-icon>
    </div>
    <div class="list-friends">
      <div class="s-list">
        <div class="friend">
          <img src="https://i.pinimg.com/236x/87/47/1a/87471af4b5ab4ece0e5d8d001afb3339.jpg" alt="">
          <p>Doreamon</p>
          <div class="line"></div>
        </div>
        <div class="friend">
          <img src="https://i.pinimg.com/236x/d4/3a/24/d43a24d63c823f6dd07657aa8f021f26.jpg" alt="">
          <p>Jaian</p>
          <div class="line"></div>
        </div>
        <div class="friend">
          <img src="https://i.pinimg.com/236x/c2/a0/09/c2a0099bbddf9be08f3672f0cf197d5f.jpg" alt="">
          <p>Suneo</p>
          <div class="line"></div>
        </div>
        <div class="friend">
          <img src="https://i.pinimg.com/236x/ac/cf/31/accf3186e285df1f35bf0d9f9b0a986d.jpg" alt="">
          <p>Shizuka</p>
          <div class="line"></div>
        </div>
        <div class="friend">
          <img src="https://i.pinimg.com/236x/3a/3d/48/3a3d485b06ca176b560629367ab1ac9c.jpg" alt="">
          <p>Dorami</p>
          <div class="line"></div>
        </div>
        <div class="friend">
          <img src="https://i.pinimg.com/236x/ac/cf/31/accf3186e285df1f35bf0d9f9b0a986d.jpg" alt="">
          <p>Shizuka</p>
          <div class="line"></div>
        </div>
        <div class="friend">
          <img src="https://i.pinimg.com/236x/ac/cf/31/accf3186e285df1f35bf0d9f9b0a986d.jpg" alt="">
          <p>Shizuka</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="navbar-right">
      <div class="s-nav-right">
        <div class="chating-friend">
          <img src="https://i.pinimg.com/236x/87/47/1a/87471af4b5ab4ece0e5d8d001afb3339.jpg" alt="">
          <p>Doreamon</p>
        </div>
        <fa-icon [icon]="faBars" class="icon-bar"></fa-icon>
      </div>
    </div>
    <div class="chatbox"></div>
    <div class="send-message">
      <div class="s-send">
        <fa-icon [icon]="faFaceLaughBeam" class="icon-face"></fa-icon>
        <input type="text" class="m-input" placeholder="type your input here">
        <fa-icon [icon]="faPaperPlane" class="icon-face"></fa-icon>
        <fa-icon [icon]="faMicrophone" class="icon-face"></fa-icon>
      </div>
    </div>
  </div>
</div>
</div>